{% load static %}
{% block styleSheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/homepagebody/block-1/block-1.css' %}">
{% endblock %}


<div class="head" id="features">Features</div>
<div class="block-one">
    <div class="block1">
        <span class="img-case" data-index="one">
            <img data-index="one" src="static/images/site_images/vacation/image7.png" style="width:100%">
            <span data-index="one" class="img-txt1">See&nbsp;coconut&nbsp;palmtrees</span>
            <div class="white-img-txt2" data-index="one">
                <button class="white-button" data-index="one">change view</button>
            </div>
        </span>
        <span class="img-case" data-index="two">
            <img data-index="two" src="static/images/site_images/animals/fox.jpg" style="width:100%">
            <span data-index="two" class="img-txt1">Go&nbsp;animal&nbsp;watching</span>
            <div class="white-img-txt2"  data-index="two">
                <button class="white-button"  data-index="two">change view</button>
            </div>
        </span>
    </div>
    <div class="block2">
        <span class="img-case" data-index="three">
            <img data-index="three" src="static/images/site_images/vacation/image14.png" style="width:100%">
            <span  data-index="three" class="img-txt1">Enjoy&nbsp;your&nbsp;stay</span>
            <div class="white-img-txt2" data-index="three">
                <button class="white-button" data-index="three">change view</button>
            </div>
        </span>
        <span class="img-case" data-index="four">
            <img data-index="four" src="static/images/site_images/vacation/image4.png" style="width:100%">
            <span data-index="four" class="img-txt1">Sail&nbsp;on&nbsp;lakes</span>
            <div class="white-img-txt2" data-index="four">
                <button class="white-button" data-index="four">change view</button>
            </div>
        </span>
    </div>
</div>

