{% load static %}
{% block styleSheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/homepagebody/block-2/block-2.css' %}">
{% endblock %}


<div class="head" id="destinations">Destinations</div>
<div class="block-two">
    <span class="one calabar">Calabar</span><span class="two">|</span>
    <span class="one port-hacourt">Port&nbsp;hacourt</span><span class="two">|</span>
    <span class="one lagos">Lagos</span><span class="two">|</span>
    <span class="one kaduna">Kaduna</span><span class="two">|</span>
    <span class="one ondo">Ondo</span>
</div>