{% load static %}
{% block styleSheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/header/header.css' %}">
{% endblock %}




<header>
    <section id="section-nav">
    <!--navigations start---------------------------------->
        <nav>
            <ul>
                <li class="scroll" data-index="one"><a href="#">Home</a><span class="to-underline" data-index="one"></span></li>
                <li class="scroll" data-index="two"><a href="#features">Features</a><span class="to-underline" data-index="two"></span></li>
                <li class="scroll" data-index="three"><a href="#destinations">Destinations</a><span class="to-underline" data-index="three"></span></li>
            </ul>
        </nav>
    </section>
</header>



