{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} MultiVendorSite {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'styles/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/pages/landingpage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% block styleSheets %}{% endblock %}">
    <script type="text/javascript" language="JavaScript" src="{% static 'scripts/jQuery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" language="JavaScript" src="{% static 'scripts/main.js' %}"></script>

</head>
<body>
    <main>
        {% include './header/header.html' %}
        <section id="container">
            {% block content %}
            {% endblock %}
        </section>
        {% include './footer/footer.html' %}
    </main>



    {% block scripts %}
    <script>
    </script>
    {% endblock %}
</body>
</html>