{% extends 'core/base.html' %}
{% load static %}

{% block title %}Welcome Home{% endblock %}



{% block content %}
<section id="mother" style="background-color:var(--normalwhite);">
    <div id="homepage">
        <div class="fill-up">
            <span class="place1">Best&nbsp;in&nbsp;Nigeria,Africa</span>
            <span class="place2">9JA&nbsp;Destinations</span>
            <span class="place3">Your one stop online kitchen for all the
                nigerian mouth watering dishes that brings amazing satisfaction,
                and you will never seek food anywhere else</span>
            <div class="place4">
                <button class="a">Book&nbsp;reservation</button>
                <button class="b">See&nbsp;menu</button>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="head" id="features">Features</div>
        <div class="block-one">
            <div class="block1">
                <span class="img-case" data-index="one">
                    <img data-index="one" src="static/images/site_images/vacation/image7.png" style="width:100%">
                    <span data-index="one" class="img-txt1">See&nbsp;coconut&nbsp;palmtrees</span>
                    <div class="white-img-txt2" data-index="one">
                        <button class="white-button" data-index="one">change view</button>
                    </div>
                </span>
                <span class="img-case" data-index="two">
                    <img data-index="two" src="static/images/site_images/animals/fox.jpg" style="width:100%">
                    <span data-index="two" class="img-txt1">Go&nbsp;animal&nbsp;watching</span>
                    <div class="white-img-txt2"  data-index="two">
                        <button class="white-button"  data-index="two">change view</button>
                    </div>
                </span>
            </div>
            <div class="block2">
                <span class="img-case" data-index="three">
                    <img data-index="three" src="static/images/site_images/vacation/image14.png" style="width:100%">
                    <span  data-index="three" class="img-txt1">Enjoy&nbsp;your&nbsp;stay</span>
                    <div class="white-img-txt2" data-index="three">
                        <button class="white-button" data-index="three">change view</button>
                    </div>
                </span>
                <span class="img-case" data-index="four">
                    <img data-index="four" src="static/images/site_images/vacation/image4.png" style="width:100%">
                    <span data-index="four" class="img-txt1">Sail&nbsp;on&nbsp;lakes</span>
                    <div class="white-img-txt2" data-index="four">
                        <button class="white-button" data-index="four">change view</button>
                        <button class="white-button" data-index="four">change view</button>
                    </div>
                </span>
            </div>
        </div>
        <div class="head" id="destinations">Destinations</div>
        <div class="block-two">
            <span class="calabar">Calabar</span><span style="color:#ffffff;font-weight:bold;font-size:20px;">|</span>
            <span class="bayelsa">Bayelsa</span><span style="color:#ffffff;font-weight:bold;font-size:20px;">|</span>
            <span class="lagos">Lagos</span><span style="color:#ffffff;font-weight:bold;font-size:20px;">|</span>
            <span class="kaduna">Kaduna</span><span style="color:#ffffff;font-weight:bold;font-size:20px;">|</span>
            <span class="ondo">Ondo</span>
        </div>
        <div class="block-three">

            <div class="cover cover1">
                <div class="innerblock1">
                    <div class="block1">
                        <span class="image" data-place="a" data-index="one"><img src="static/images/site_images/vacation/image7.png"><span class="img-txt" style="color:var(--normalwhite);">Edet beach</span></span>
                        <span class="image" data-place="b" data-index="one"><img src="static/images/site_images/animals/fox.jpg"><span class="img-txt" style="color:var(--normalwhite);">Npkong forest</span></span>
                    </div>
                    <div class="block2">
                        <span class="image" data-place="c" data-index="one"><img src="static/images/site_images/vacation/image14.png"><span class="img-txt" style="color:var(--normalwhite);">Ufot spring</span></span>
                        <span class="image" data-place="d" data-index="one"><img src="static/images/site_images/vacation/image4.png"><span class="img-txt" style="color:var(--normalwhite);">Bassey lake</span></span>
                    </div>
                </div>
                <div class="innerblock2">
                    <div class="block1" data-index="one">
                        <span class="image" data-index="one"><img src="static/images/site_images/vacation/image7.png" style="width:100%"><span class="img-txt" style="color:var(--normalwhite);">Edet beach</span></span>
                    </div>

                    <div class="block2">
                        <div class="inside">
                            <div class="side1">
                                <span id="name">Edet beach</span>
                                <p id="price">$264.99</p>
                            </div>
                            <div class="side2">
                                 <p id="text">Calabar Location</p>
                                <span class="description">there are as lot of reasons why you should
                                    travel to italy and not any other place, because
                                    italy you might not know is not a scandinavian country.
                                 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cover cover2">
                <div class="innerblock1">
                    <div class="block1">
                        <span class="image" data-place="e" data-index="two"><img src="static/images/site_images/vacation/image4.png" style="width:100%"><span class="img-txt" style="color:var(--normalwhite);">Obiapkor beach</span></span>
                        <span class="image" data-place="f" data-index="two"><img src="static/images/site_images/animals/tiger.jpg" style="width:100%"><span class="img-txt" style="color:var(--normalwhite);">Uniport spring</span></span>
                    </div>
                    <div class="block2">
                        <span class="image" data-place="g" data-index="two"><img src="static/images/site_images/vacation/image8.png" style="width:100%"><span class="img-txt" style="color:var(--normalwhite);">Emuoha reserve</span></span>
                        <span class="image" data-place="h" data-index="two"><img src="static/images/site_images/vacation/image10.png" style="width:100%"><span class="img-txt" style="color:var(--normalwhite);">Umuokoro hills</span></span>
                    </div>
                </div>
                <div class="innerblock2">
                    <div class="block1" data-index="two">
                        <span class="image" data-index="two"><img src="static/images/site_images/vacation/image4.png" style="width:100%"><span class="img-txt" style="color:var(--normalwhite);">Obiapkor beach</span></span>
                    </div>

                    <div class="block2">
                        <div class="inside">
                            <div class="side1">
                                <span>Chairs</span>
                                <p>$264.99</p>
                            </div>
                            <div class="side2">
                                 <p>Italy Location</p>
                                <span>there are as lot of reasons why you should
                                    travel to italy and not any other place, because
                                    italy you might not know is not a scandinavian country.
                                 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cover cover3">
                <div class="innerblock1">
                    <div class="block1">
                        <span class="image" data-place="i" data-index="three"><img src="static/images/site_images/vacation/image2.png" style="width:100%"><span class="img-txt" style="color:var(--normalwhite);">Ikoyi fantasy</span></span>
                        <span class="image" data-place="j" data-index="three"><img src="static/images/site_images/animals/panda.png" style="width:100%"><span class="img-txt" style="color:var(--normalwhite);">Chevron reserve</span></span>
                    </div>
                    <div class="block2">
                        <span class="image" data-place="k" data-index="three"><img src="static/images/site_images/vacation/image1.png" style="width:100%"><span class="img-txt" style="color:var(--normalwhite);">Badagry island</span></span>
                        <span class="image" data-place="l" data-index="three"><img src="static/images/site_images/vacation/image3.png" style="width:100%"><span class="img-txt" style="color:var(--normalwhite);">Lekki waterside</span></span>
                    </div>
                </div>
                <div class="innerblock2">
                    <div class="block1" data-index="three">
                        <span class="image" data-index="three"><img src="static/images/site_images/vacation/image2.png" style="width:100%"><span class="img-txt" style="color:var(--normalwhite);">Edet beach</span></span>
                    </div>

                    <div class="block2">
                        <div class="inside">
                            <div class="side1">
                                <span>Chairs</span>
                                <p>$264.99</p>
                            </div>
                            <div class="side2">
                                 <p>Italy Location</p>
                                <span>there are as lot of reasons why you should
                                    travel to italy and not any other place, because
                                    italy you might not know is not a scandinavian country.
                                 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cover cover4">
                <div class="innerblock1">
                    <div class="block1">
                        <span class="image" data-place="m" data-index="four"><img src="static/images/site_images/vacation/image6.png" style="width:100%"><span class="img-txt" style="color:var(--normalwhite);">Kaduna waters</span></span>
                        <span class="image" data-place="n" data-index="four"><img src="static/images/site_images/animals/jaguar.jpg" style="width:100%"><span class="img-txt" style="color:var(--normalwhite);">Mambilla forest</span></span>
                    </div>
                    <div class="block2">
                        <span class="image" data-place="o" data-index="four"><img src="static/images/site_images/vacation/image12.png" style="width:100%"><span class="img-txt" style="color:var(--normalwhite);">Bassa Mountains</span></span>
                        <span class="image" data-place="p" data-index="four"><img src="static/images/site_images/vacation/image13.png" style="width:100%"><span class="img-txt" style="color:var(--normalwhite);">Idrissou lake</span></span>
                    </div>
                </div>
                <div class="innerblock2">
                    <div class="block1" data-index="four">
                        <span class="image" data-index="four"><img src="static/images/site_images/vacation/image6.png" style="width:100%"><span class="img-txt" style="color:var(--normalwhite);">Kaduna waters</span></span>
                    </div>

                    <div class="block2">
                        <div class="inside">
                            <div class="side1">
                                <span>Chairs</span>
                                <p>$264.99</p>
                            </div>
                            <div class="side2">
                                 <p>Italy Location</p>
                                <span>there are as lot of reasons why you should
                                    travel to italy and not any other place, because
                                    italy you might not know is not a scandinavian country.
                                 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cover cover5">
                <div class="innerblock1">
                    <div class="block1">
                        <span class="image a" data-place="q" data-index="five"><img src="static/images/site_images/vacation/image9.png" style="width:100%"><span class="img-txt" style="color:var(--normalwhite);">Ilaje waterside</span></span>
                        <span class="image b" data-place="r" data-index="five"><img src="static/images/site_images/animals/bird2.png" style="width:100%"><span class="img-txt" style="color:var(--normalwhite);">Akure Lakeside</span></span>
                    </div>
                    <div class="block2">
                        <span class="image" data-place="s" data-index="five"><img src="static/images/site_images/animals/turtle.jpg" style="width:100%"><span class="img-txt" style="color:var(--normalwhite);">Ikale bird reserve</span></span>
                        <span class="image" data-place="t" data-index="five"><img src="static/images/site_images/vacation/image2.png" style="width:100%"><span class="img-txt" style="color:var(--normalwhite);">Owo views</span></span>
                    </div>
                </div>
                <div class="innerblock2">
                    <div class="block1" data-index="five">
                        <span class="image" data-index="five"><img src="static/images/site_images/vacation/image9.png" style="width:100%"><span class="img-txt" style="color:var(--normalwhite);">Ilaje waterside</span></span>
                    </div>

                    <div class="block2">
                        <div class="inside">
                            <div class="side1">
                                <span>Chairs</span>
                                <p>$264.99</p>
                            </div>
                            <div class="side2">
                                 <p>Italy Location</p>
                                <span>there are as lot of reasons why you should
                                    travel to italy and not any other place, because
                                    italy you might not know is not a scandinavian country.
                                 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-four">
            <div class='cover-half'></div>
            <div class="cover">
                <div class="innerblock1">
                    <div class="header">Things you must know</div>
                    <span class="text"> <p>T</p>here are as lot of reasons why you should travel to italy
                    and not any other place, because italy you might not know is not a scandinavian country
                    there are as lot of reasons why you should travel to italy
                    and not any other place, because italy you might not know is not a scandinavian country
                    there are as lot of reasons why you should travel to italy
                    and not any other place, because italy you might not know is not a scandinavian country
                    there are as lot of reasons why you should travel to italy
                    and not any other place, because italy you might not know is not a scandinavian country
                    there are as lot of reasons why you should travel to italy
                    and not any other place, because italy you might not know is not a scandinavian country
                    there are as lot of reasons why you </span>
                </div>
                <div class="innerblock2">
                    <span class="card"><img src="static/images/site_images/vacation/image4.png" style="width:100%"></span>
                    <span class="card"><img src="static/images/site_images/vacation/image13.png" style="width:100%"></span>
                    <span class="card"><img src="static/images/site_images/vacation/image3.png" style="width:100%"></span>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}




