{% load static %}
{% block styleSheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/homepagebody/block-4/block-4.css' %}">
{% endblock %}


<div class="block-four">
    <div class='cover-half'></div>
    <div class="cover">
        <div class="innerblock1">
            <div class="header">Things you must know</div>
            <span class="text"> <p>T</p>here are as lot of reasons why you should travel to italy
            and not any other place, because italy you might not know is not a scandinavian country
            there are as lot of reasons why you should travel to italy
            and not any other place, because italy you might not know is not a scandinavian country
            there are as lot of reasons why you should travel to italy
            and not any other place, because italy you might not know is not a scandinavian country
            there are as lot of reasons why you should travel to italy
            and not any other place, because italy you might not know is not a scandinavian country
            there are as lot of reasons why you should travel to italy
            and not any other place, because italy you might not know is not a scandinavian country
            there are as lot of reasons why you </span>
        </div>
        <div class="innerblock2">
            <span class="card"><img src="static/images/site_images/vacation/image4.png" style="width:100%"></span>
            <span class="card"><img src="static/images/site_images/vacation/image13.png" style="width:100%"></span>
            <span class="card"><img src="static/images/site_images/vacation/image3.png" style="width:100%"></span>
        </div>
    </div>
</div>

